.ageModalOverlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Performance optimizations */
  will-change: opacity;
  transform: translateZ(0);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.5s ease-in-out,
    visibility 0s 0.5s; /* Same fade duration, with delayed visibility change */
}

.ageModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  overflow-y: auto;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Adjusted fade duration */
}

.ageConfirmationContent {
  background: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  /* Performance optimizations */
  will-change: transform;
  transform: translateZ(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.consentTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.consentText {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.consentButton {
  text-decoration: underline;
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.consentButton:hover {
  background-color: var(--tertiary-color) !important;
}
