.ageModalOverlayContainer {
  position: fixed; /* Fix the modal to the viewport, ensuring no layout reflow */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  z-index: 9999; /* Ensure it stays on top */
  visibility: visible; /* Start as hidden */
  opacity: 1; /* Fully transparent initially */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Smooth transition */
}

.hidden {
  visibility: hidden; /* Remove from visual rendering */
  opacity: 0; /* Make it fully transparent */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Smooth fade-out */
}

.ageModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  overflow-y: auto; /* Ensure the overlay itself is scrollable */
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.ageConfirmationContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  background: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  height: auto;
  max-height: 70vh; /* Ensure the modal does not exceed the viewport height */
  overflow-y: auto; /* Allow scrolling within the modal content */
  text-align: center;
}

.consentTitle {
  font-size: 2rem;
  font-weight: 700;
}

.consentSubTitle {
  font-size: 1.6rem;
  font-weight: 400;
}

.consentText {
  font-size: 1.2rem;
}

.consentButton {
  padding: 0 4px;
  text-decoration: underline;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 9px;
}

.consentButton:hover {
  background: #005bb5;
}
