.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  /* Add bottom padding for mobile bottom nav */
  padding-bottom: env(safe-area-inset-bottom);
}

.pageContent {
  flex: 1;
  height: 100%;
}

.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.invisible {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
}

.obscuredContent {
  filter: blur(1px) grayscale(0.2) brightness(0.85);
  pointer-events: none;
  user-select: none;
  transition: filter 0.3s;
}
