.imageCard {
  position: relative;
  height: auto;
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageItem {
  height: auto;
  width: 100%;
  object-fit: cover;
  position: relative;
  cursor: zoom-in;
  overflow: hidden;
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.landscape {
  aspect-ratio: 16 / 9;
  grid-column: span 2; /* Landscape images span 2 columns */
}

.portrait {
  aspect-ratio: 3/4;
  grid-column: span 1; /* Portrait images span 1 column */
}

.imageInfo {
  display: flex;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: auto;
  height: 22px;
  align-items: center;
  padding: 5px;
  z-index: 2;
}

.imageText {
  font-size: 0.8rem;
  margin-left: 5px;
}

.roundedImage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
