.imageCard {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageItem {
  position: relative;
  cursor: zoom-in;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  object-fit: cover;
  position: relative;
  width: 100%;
}

.imageInfo {
  display: flex;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: auto;
  height: 22px;
  align-items: center;
  padding: 5px;
  z-index: 2;
}

.imageText {
  font-size: 0.8rem;
  margin-left: 5px;
}

.landscape {
  aspect-ratio: 16 / 9;
  grid-column: span 2; /* Landscape images span 2 columns */
  grid-row: span 1; /* Landscape images span 2 rows */
}

.portrait {
  aspect-ratio: 3 / 4;
  grid-column: span 1; /* Portrait images span 1 column */
  grid-row: span 1;
}
