.container {
  padding: 20px;
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin-bottom: 0.5rem;
}

.imprint {
  margin-left: 1rem;
}

.copyButton {
  padding: 0 4px;
  text-decoration: underline;
}

.thankYou {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  justify-content: start;
  align-items: center;
}

.kofiWidgetContainer {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  margin-top: 1rem;
}
