.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  overflow-y: auto; /* Ensure the overlay itself is scrollable */
}

.modalContent {
  background: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  height: auto;
  max-height: 90vh; /* Ensure the modal content does not exceed the viewport height */
  overflow-y: auto; /* Allow scrolling within the modal content */
  position: relative;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.photographerImageContainer {
  margin-bottom: 20px;
}

.photographerImage {
  border-radius: 50%;
}

.photographerInfo {
  text-align: left;
  margin-bottom: 20px;
}

.photographerInfo h2 {
  margin-bottom: 10px;
}

.photographerInfo p {
  margin-bottom: 10px;
}

.biography {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.biography.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.externalLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.link {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.storeDropdown {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
}

@media (max-width: 767px) {
  .modalContent {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    border-radius: 0;
  }
}
