.modalContent {
  background: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  height: auto;
  max-height: 70vh; /* Ensure the modal content does not exceed the viewport height */
  overflow-y: auto; /* Allow scrolling within the modal content */
  position: relative;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.photographerImageContainer {
  margin-bottom: 20px;
}

.photographerImage {
  border-radius: 50%;

  object-fit: cover;
}

.photographerInfo {
  text-align: left;
  margin-bottom: 20px;
}

.photographerInfo h2 {
  margin-bottom: 10px;
}

.photographerInfo p {
  margin-bottom: 10px;
}

.disclaimer {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-top: 10px;
  line-height: normal;
}

.externalLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.link {
  z-index: 1;
}

.storeDropdown {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
}

@media (max-width: 767px) {
  .modalContent {
    margin-top: 2rem;
    width: 90%;
    max-width: 350px;
    height: auto;
    border-radius: 0;
  }
}
