h1.center-text {
  font-size: 2rem; /* Adjust size */
  color: #434343; /* Match gallery theme */
  margin-bottom: 20px; /* Add spacing */
  text-align: center;
}
h2.center-text {
  font-size: 1.5rem;
  color: #555;
  text-align: center;
}
p.center-text {
  font-size: 1rem;
  color: #777;
  text-align: center;
}
