h1.centerText {
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}
h2.centerText {
  color: var(--text-color);
  text-align: center;
}
p.centerText {
  color: var(--text-color);
  text-align: center;
}
