/* Non-critical CSS - loaded after critical styles */

/* Light theme variables (default) */

main {
  flex: 1; /* Allow the main content to grow and fill available space */
}

header,
footer {
  background: transparent;
}

footer {
  margin-top: auto;
}

body {
  transition:
    background-color 0.3s,
    color 0.3s;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.landscape {
  aspect-ratio: 16 / 9;
  grid-column: span 2;
}

.portrait {
  aspect-ratio: 3 / 4;
  grid-column: span 1;
}

.v-margin {
  margin: 2rem 0;
}

@media only screen and (max-width: 600px) {
  .v-margin {
    margin: 0.5rem 0;
  }
  h1 {
    padding: 0 0.4rem;
    margin: 0;
  }

  h2 {
    padding: 0 0.4rem;
    margin: 0;
  }

  p {
    padding: 0 0.4rem;
    margin: 0;
  }
}
