.authorCardContainer {
  height: 100% !important;
  width: 100% !important;
  margin-bottom: calc(100vh - 8rem);
}

.authorScrollList {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  gap: 8px;
  scrollbar-width: thin;
  width: 90vw;
}
.authorCard {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: var(--background-color);
  width: 90vw;
  height: auto;
  min-height: 100%;
  margin: 1rem auto;
  cursor: pointer;
}

.authorCard img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.authorCard h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: var(--text-color);
}

.authorCard p {
  margin: 0 0 10px;
  color: var(--text-color);
}

.authorName {
  cursor: pointer;
}

.biography {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  padding-top: 10px;
  width: 90vw;
}

.authorScrollList::-webkit-scrollbar {
  height: 6px;
}

.authorScrollList::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 3px;
}

.authorButton {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background: transparent;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: medium;
}

.authorButton:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media (max-width: 768px) {
  .authorCard {
    width: 80%;
  }
}
