.authorCardContainer {
  height: 100% !important;
  width: 100% !important;
  margin-bottom: calc(100vh - 8rem);
}

.authorScrollList {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  gap: 8px;
  scrollbar-width: thin;
  width: 90vw;
}
.authorCard {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: var(--background-color);
  width: 90vw;
  height: auto;
  min-height: 100%;
  margin: 1rem auto;
  cursor: pointer;
}

.authorCard img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.authorCard h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: var(--text-color);
}

.authorCard p {
  margin: 0 0 10px;
  color: var(--text-color);
}

.authorName {
  cursor: pointer;
}

.biography {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
  padding-top: 10px;
  width: 100%; /* Ensure the container spans the full width */
  height: 70px; /* Adjust height to accommodate circular images */
  scrollbar-width: thin; /* For Firefox scrollbar styling */
}

.imageList img {
  flex-shrink: 0; /* Prevent images from shrinking */
  width: 60px; /* Set a fixed width for images */
  height: 60px; /* Set a fixed height for images */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
  border-radius: 50%; /* Make images circular */
}

.imageList::-webkit-scrollbar {
  height: 6px; /* Set scrollbar height */
}

.imageList::-webkit-scrollbar-thumb {
  background-color: var(--text-color); /* Style scrollbar thumb */
  border-radius: 3px; /* Round scrollbar thumb edges */
}

.imageListItem {
  flex: 0 0 auto;
  width: 50px; /* or whatever fixed width you prefer */
  max-width: 50px;
  height: 50px; /* adjust as desired */
  display: flex;
  align-items: center;
  justify-content: center;
}

.authorScrollList::-webkit-scrollbar {
  height: 6px;
}

.authorScrollList::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 3px;
}

.authorButton {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background: transparent;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: medium;
}

.authorButton:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media (max-width: 768px) {
  .authorCard {
    width: 80%;
  }
}
