.authorCard {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--background-color);
  width: 90%;
  margin: 1rem auto;
  cursor: pointer;
}

.authorCard h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: var(--text-color);
}

.authorCard p {
  margin: 0 0 10px;
  color: var(--text-color);
}

.authorName {
  cursor: pointer;
}

.biography {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  padding-top: 10px;
}

.authorScrollList {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  gap: 8px;
  scrollbar-width: thin;
}

.authorScrollList::-webkit-scrollbar {
  height: 6px;
}

.authorScrollList::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 3px;
}

.authorButton {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background: transparent;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.authorButton:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media (max-width: 768px) {
  .authorCard {
    width: 80%;
  }
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 2rem;
  margin-top: 4rem;
  height: 100%;
}

.loaderText {
  font-size: 1.1rem;
  font-weight: 700;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  color: transparent;
}
