.galleryGridItem {
  border-radius: 0.3rem;
  background-color: var(--color-black);
  overflow: hidden;
  height: 200px;
  box-shadow: 0 0 10px var(--color-black);
  position: relative;
  cursor: zoom-in;
}

.galleryGridItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 2rem;
  margin-top: 4rem;
  height: 100%;
}

.loaderText {
  font-size: 1.1rem;
  font-weight: 700;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  color: transparent;
}
