.goProContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: auto;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  padding: 1rem; /* Add some padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in the height */
}
.goProContainer p {
  margin: 0.5rem;
}

.goProTitle {
  font-size: 2rem;
  font-weight: 700;
}

.goProText {
  font-size: 1.2rem;
}

.kofiImage {
  border: 0;
  height: 36px;
  margin: 0.5rem auto;
}

.goProButtonContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .goProContainer {
    gap: 0;
  }

  .goProContainer p {
    margin: 0.2rem;
  }

  .goProTitle {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
  }

  .goProText {
    font-size: 1rem;
  }
}
