/* filepath: /C:/Users/Usuario/Documents/AAA_REPOs/mosaic/styles/globals.css */

:root {
  --background-color: #e0e0e0;
  --text-color: #333333;
  --headfoot-background-color: #736aaa;
  --color-white: #e0e0e0;
  --color-black: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --background-color: #333333;
  --text-color: #e0e0e0;
  --headfoot-background-color: #555555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}
