/* filepath: /C:/Users/Usuario/Documents/AAA_REPOs/mosaic/styles/globals.css */
/* Critical CSS only - everything else moved to non-critical.css */

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

:root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  --background-color: #fff;
  --text-color: #1d1d1d;
  --secondary-color: #cccaca;
  --tertiary-color: #fd6c6c;
  --accent-color: #f4d35e;
  --text-gradient: linear-gradient(135deg, #4cf6c3 30%, #1faef0 70%);
  --color-white: #fff;
  --color-black: #1d1d1d;
  --link-color: rgb(107, 154, 192);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0; /* Remove default margin */
  position: relative;
  height: 100%;
  font-family: var(--font-trade-gothic), sans-serif;
  font-weight: 400; /* Default weight */
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

.font-trade-gothic {
  font-family: var(--font-trade-gothic), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}
