/* filepath: /c:/Users/Usuario/Documents/AAA_REPOs/mosaic/src/components/header/header.module.css */
.navContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 100;
}

.navGrid {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0;
  margin: 0;
}

.navGrid li {
  list-style: none;
}

.navLogo {
  justify-self: center;
  padding: 0;
  margin: 1rem 0;
}

.navLinks {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
  gap: 4rem;
  margin: 2rem 0;
}

.themeImage {
  width: auto;
  height: 80vh;
  max-width: 100vw;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .navGrid {
    min-height: auto;
  }

  .themeImage {
    width: auto;
    height: 80vh;
  }
}
