.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  grid-auto-rows: 200px; /* Ensure consistent row height */
  gap: 0.5rem; /* Adjust gap size */
  width: 100%;
  height: auto;
  margin: 0.5rem;
  background-color: var(--color-white);
}

.galleryGridItem {
  background-size: cover;
  border-radius: 0.5rem;
  background-color: var(--color-black);
  overflow: hidden;
  height: 200px;
  box-shadow: 0 0 10px var(--color-black);
  position: relative;
  border: 2px solid rgb(16, 204, 238);
}

.galleryGridItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Optional: Add different sizes for a more mosaic-like effect */
.galleryGridItem:nth-child(2n) {
  grid-column: span 2;
  grid-row: span 2;
}

.galleryGridItem:nth-child(3n) {
  grid-column: span 1;
  grid-row: span 1;
}

.galleryGridItem:nth-child(4n) {
  grid-column: span 3;
  grid-row: span 3;
}
