.footerContainer {
  color: var(--text-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: var(--background-color);
  z-index: 1999; /* Ensure footer is on top */
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footerItem {
  margin: 10px;
}

.footerItem a {
  color: var(--link-color);
  text-decoration: underline;
}

.footerItem a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .footerContainer {
    height: 11rem;
  }
}
