.footerContainer {
  position: absolute;
  margin-top: auto;
  width: 100%;
  height: auto;
  min-height: 10rem;
  background-color: var(--background-color);
  color: var(--text-color);
  z-index: 1; /* Ensure footer is on top but below dropdown author */
  border-top: 1px solid lightgrey; /* Add a very thin light-grey line on top */
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.footerItem {
  padding-left: 10px;
}

.footerItem p:last-child {
  margin: 0.2rem;
}

.footerItem a {
  color: var(--link-color);
  text-decoration: underline;
}

.footerItem a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .footerContainer {
    height: 11rem;
  }
}
