.themeImage {
  width: 100%;
  max-width: 90%;
  height: auto;
}

.desktopImage {
  display: block;
}

.mobileImage {
  display: none;
}

/* Media query for tablets Portrait and landscape */
@media (min-width: 768px) and (max-width: 1024px) {
  .themeImage {
    max-width: 800px; /* Adjust as needed for tablets */
  }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .desktopImage {
    display: none;
  }
  .mobileImage {
    display: block;
    max-width: 90%;
    width: 90%; /* Ensure the image scales to container width */
    height: auto;

    justify-self: center;
  }
}
