.themeImage {
  width: auto; /* Let the Next.js Image component control width */
  height: auto;
  place-self: center;
  object-fit: contain;
  max-width: 100%; /* Ensure it doesn't overflow its container */
}

.desktopImage {
  display: block;
}

.mobileImage {
  display: none;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .desktopImage {
    display: none;
  }
  .mobileImage {
    display: block;
    width: auto; /* Let Next.js Image component control width */
    height: auto;
    justify-self: center;
  }
}
