.photographerDetailPageTitle {
  margin: 0;
  padding: 22px;
}

.photographerDetailPage {
  padding: 22px;
}

.authorCTA {
  cursor: pointer;
  z-index: 1;
  padding-left: 11px;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.sectionContent p {
  padding: 0 !important;
}

.subsectionHeader {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  margin: 0;
  padding-left: 22px;
}

@media (max-width: 768px) {
  .sectionTitle {
    padding-left: 0;
  }
}
